.electric-border {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.eb-ring {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid var(--electric-border-color);
    /* Thinner, cleaner line */
    border-radius: 50%;
    box-shadow: 0 0 10px var(--electric-border-color), inset 0 0 10px var(--electric-border-color);
    /* Glow */
    opacity: 0;
    z-index: 0;
    pointer-events: none;
}

/* 3 Concentric Rings expanding */
.eb-ring:nth-child(1) {
    width: 100%;
    height: 100%;
    animation: ripple 2s linear infinite;
    animation-delay: 0s;
}

.eb-ring:nth-child(2) {
    width: 100%;
    height: 100%;
    animation: ripple 2s linear infinite;
    animation-delay: 0.6s;
}

.eb-ring:nth-child(3) {
    width: 100%;
    height: 100%;
    animation: ripple 2s linear infinite;
    animation-delay: 1.2s;
}

@keyframes ripple {
    0% {
        width: 80%;
        height: 80%;
        opacity: 0.8;
        border-width: 2px;
    }

    100% {
        width: 160%;
        height: 160%;
        opacity: 0;
        border-width: 0px;
    }
}

.eb-content {
    position: relative;
    z-index: 10;
}